<div class="images">
    <img src="../assets/logointellipse.png" class="logo1" alt="Logo Intellipse" />
    <img src="../assets/logosette.png" class="logo2" alt="Logo Sette" />
</div>

<form>
    <label for="username">Username</label>
    <br />
    <i class="fa fa-user fa-lg"></i>
    <input type="text" id="username" name="username" />
    <br />
    <br />
    <label for="password">Password</label>
    <br />
    <i class="fa fa-lock fa-lg"></i>
    <input type="password" id="password" name="password" />
    <br />
    <br />
    <hr />
    <br />
    <button>Sign in</button>
</form>