<!-- Navigation Bar -->
<!-- The Navigation Bar Has Five Links (Home, Statistics, Holidays, Time Card and Logout). -->
<!-- <ul></ul>, <li></li> and <a></a> tags are used in order to create the navigation bar. -->

<!--*ngIf="showMenu" is used to hide the navigation bar in the login page. -->
<nav *ngIf="showMenu" class="navbar navbar-expand-lg navbar-light">
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink=""><i class="fa fa-home"
                    aria-hidden="true"></i>&nbsp;Home</a>
        </li>&nbsp;
        <li class="nav-item">
            <a class="nav-link" routerLink="statistics"><i class="fa fa-user"
                    aria-hidden="true"></i>&nbsp;Statistics</a>
        </li>&nbsp;
        <li class="nav-item">
            <a class="nav-link" routerLink="holidays"><i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp;Holidays</a>
        </li>&nbsp;
        <li class="nav-item">
            <a class="nav-link" routerLink="time-card"><i class="fa fa-id-card-o" aria-hidden="true"></i>&nbsp;Time
                Card</a>
        </li>
    </ul>
    <ul class="navbar-nav ms-auto">
        <!-- *ngIf="authentication.loggedIn()" and (click)="authentication.logoutUser() are used when the users want to logout from the application." -->
        <li><a id="logout" class="nav-link" *ngIf="authentication.loggedIn()" (click)="authentication.logoutUser()"><i
                    class="fa fa-sign-out" aria-hidden="true"></i>&nbsp; Logout</a></li>
        <!-- <li><a id="logout" class="nav-link"><i class="fa fa-sign-out" aria-hidden="true"></i>&nbsp; Logout</a></li> -->
    </ul>
</nav>

<!-- Router-Outlet is an Angular directive from the router library that is used to insert the component matched by routes to be displayed on the screen. -->
<router-outlet></router-outlet>