<!-- Home Page -->

<!-- Add Task Form -->
<!-- Structuring the form using HTML Tables. -->
<!-- The Form contains <input> tags, <label></label> tags, <select></select> tags, <option></option> tags, <textarea></textarea> tags and <button></button> tags. -->
<div class="addTask">
    <br />
    <h2>Add task</h2>
    <form #addTaskPost="ngForm" (ngSubmit)="onSubmit(addTaskPost.value)" [formGroup]="addTaskForm">
        <table class="table1">
            <tr>
                <td><label for="selectProject">Select project</label></td>
                <td><label for="date">Date</label></td>
                <td><label for="duration">Duration</label></td>
            </tr>
            <tr>
                <td><select name="customersAndProjects" formControlName="projectId" id="customersAndProjects" required
                        [ngModel]>
                        <option value="" disabled selected hidden>Select project</option>
                        <option *ngFor="let customersAndProjects of projects" [value]="customersAndProjects.id">
                            {{customersAndProjects.projectId}}</option>
                        <!-- <option value="customerName">Customer 001 Project 002</option>
                        <option value="customerName">Customer 002 Project 001</option>
                        <option value="customerName">Customer 002 Project 002</option> -->
                    </select></td>
                <td><input type="date" formControlName="date" required [ngModel] /></td>
                <td><input type="text" formControlName="timeSpentInMinutes" placeholder="Enter duration" required
                        [ngModel] />
                </td>
            </tr>
            <tr>
                <td colspan="2"><label for="task">Task</label></td>
                <td><label for="durationReported">Duration (Reported)</label></td>
            </tr>
            <tr>
                <td colspan="2"><input id="task" type="text" formControlName="name" placeholder="Task" /></td>
                <td><input type="text" formControlName="reportedTimeSpentInMinutes" placeholder="Reported duration"
                        required [ngModel] /></td>
            </tr>
            <tr>
                <td colspan="2" rowspan="6"><textarea placeholder="Task" id="taskTextarea"></textarea></td>
                <td><label for="durationOvertime">Duration (Overtime)</label></td>
            </tr>
            <tr>
                <td><input type="text" formControlName="overTimeSpentInMinutes" placeholder="Overtime duration" required
                        [ngModel] /></td>
            </tr>
            <tr>
                <td><label for="durationWeekend">Duration (Weekend)</label></td>
            </tr>
            <tr>
                <td><input type="text" formControlName="weekendTimeSpentInMinutes" placeholder="Weekend duration"
                        required /></td>
            </tr>
            <tr>
                <td><label for="durationNotReported">Duration (Not reported)</label></td>
            </tr>
            <tr>
                <td><input type="text" formControlName="notReportedTimeSpentInMinutes"
                        placeholder="Not reported duration" required /></td>
            </tr>
            <tr>
                <td colspan="2"><label for="note">Note</label></td>
            </tr>
            <tr>
                <td colspan="2"><input id="note" type="text" placeholder="Enter note" /></td>
            </tr>
            <tr>
                <td colspan="3"><button id="addTaskButton" [disabled]="addTaskPost.invalid" (click)="addItem()">Add
                        task</button></td>
            </tr>
            <tr>
                <td colspan="3"><button id="addTaskTemplateButton">Add task
                        template</button></td>
            </tr>
        </table>
    </form>
</div>

<!-- Workday -->
<div class="workday">
    <br />
    <h2>Workday</h2>
    <textarea disabled rows="10" cols="88.5">

    </textarea>
</div>

<!-- Task Suggestions and Templates -->
<div class="taskSuggestionsAndTemplates">
    <h2><i class="fa fa-table" aria-hidden="true"></i>&nbsp;Task Suggestions And Templates&nbsp;<button
            (click)="toogleTag()" class="showMe"><i class="fa fa-angle-down" aria-hidden="true"></i></button></h2>
    <table *ngIf="showMe" class="table2">
        <thead>
            <tr>
                <th>Project</th>
                <th>Task</th>
                <th>Duration</th>
                <th>Reported Duration</th>
                <th>Overtime Duration</th>
                <th>Weekend Duration</th>
                <th>Not reported Duration</th>
                <th>Date</th>
                <th>Edit and Delete</th>
            </tr>
        </thead>
    </table>
</div>

<!-- Sorting -->
<div class="sorting">
    <table class="table3">
        <tr>
            <td><input type="date" id="date1" /></td>
            <td id="hyphen">-</td>
            <td><input type="date" id="date2" /></td>
            <td><select name="showEverything1" id="showEverything1">
                    <option value="" disabled selected hidden>Show everything</option>
                    <option value="project">By project</option>
                    <option value="customer">By customer</option>
                </select>
            </td>
            <td>
                <select name="showEverything2" id="showEverything2">
                    <option value="" disabled selected hidden>Show everything</option>
                </select>
            </td>
            <td><input type="text" id="taskName" placeholder="Task name" /></td>
            <td><input type="text" id="taskNote" placeholder="Task note" /></td>
            <td><input name="btn" type="radio" id="radio1" /><label for="viewEveryTask">View every task</label></td>
            <td><input name="btn" type="radio" id="radio2" /><label for="viewByDay">View by day</label></td>
            <td><input name="btn" type="radio" id="radio3" /><label for="sortByUsername">Sort by username</label></td>
            <td><input name="btn" type="radio" id="radio4" /><label for="sortByDate">Sort by date</label></td>
            <td><button id="goButton">GO</button></td>
        </tr>
    </table>
</div>

<!-- Activities -->
<!-- When the users enter data in the Add Task Form after clicking the Add Task Button, the data will appear in the table (class="table4"). -->
<div class="activities">
    <h2><i class="fa fa-table" aria-hidden="true"></i>&nbsp;Activities</h2>
    <table class="table4">
        <thead>
            <tr>
                <th>Project</th>
                <th>Task</th>
                <th>Duration</th>
                <th>Reported Duration</th>
                <th>Overtime Duration</th>
                <th>Weekend Duration</th>
                <th>Not reported Duration</th>
                <th>Date</th>
                <th>Edit and Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of listData; index as i;">
                <td class="items">{{item.projectName}}</td>
                <td class="items">{{item.name}}</td>
                <td class="items">{{item.timeSpentInMinutes}}</td>
                <td class="items">{{item.reportedTimeSpentInMinutes}}</td>
                <td class="items">{{item.overTimeSpentInMinutes}}</td>
                <td class="items">{{item.weekendTimeSpentInMinutes}}</td>
                <td class="items">{{item.notReportedTimeSpentInMinutes}}</td>
                <td class="items">{{item.date}}</td>
                <td class="items">
                    <button id="cancelButton" *ngIf="enableEdit && enableEditIndex == i" (click)="enableEdit = false"
                        ng-click="cancel()"><i class="fa fa-times" aria-hidden="true"></i></button>
                    <button id="saveButton" *ngIf="enableEdit && enableEditIndex == i" (click)="saveSegment()"
                        type="submit"><i class="fa fa-floppy-o" aria-hidden="true"></i>
                    </button>
                    <button id="editButton"><a href="#" *ngIf="!enableEdit" (click)="enableEditMethod($event, i)"><i
                                class="fa fa-pencil-square-o" aria-hidden="true"></i></a></button>
                    <br />
                    <button id="deleteButton" (click)="onDelete(this.item.id)"><i class="fa fa-trash"
                            aria-hidden="true"></i></button>
                </td>
            </tr>
        </tbody>
    </table>
</div>