<div class="addTask">
    <br />
    <h2>Add task</h2>
    <form>
        <table class="table1">
            <tr>
                <td><label for="selectProject">Select project</label></td>
                <td><label for="date">Date</label></td>
                <td><label for="duration">Duration</label></td>
            </tr>
            <tr>
                <td><select>

                    </select></td>
                <td><input type="date" /></td>
                <td><input type="text" placeholder="Enter duration" /></td>
            </tr>
            <tr>
                <td colspan="2"><label for="task">Task</label></td>
                <td><label for="durationReported">Duration (Reported)</label></td>
            </tr>
            <tr>
                <td colspan="2"><input id="task" type="text" placeholder="Task" /></td>
                <td><input type="text" placeholder="Reported duration" /></td>
            </tr>
            <tr>
                <td colspan="2" rowspan="6"><textarea placeholder="Task" rows="10" cols="43"></textarea></td>
                <td><label for="durationOvertime">Duration (Overtime)</label></td>
            </tr>
            <tr>
                <td><input type="text" placeholder="Overtime duration" /></td>
            </tr>
            <tr>
                <td><label for="durationWeekend">Duration (Weekend)</label></td>
            </tr>
            <tr>
                <td><input type="text" placeholder="Weekend duration" /></td>
            </tr>
            <tr>
                <td><label for="durationNotReported">Duration (Not reported)</label></td>
            </tr>
            <tr>
                <td><input type="text" placeholder="Not reported duration" /></td>
            </tr>
            <tr>
                <td colspan="2"><label for="note">Note</label></td>
            </tr>
            <tr>
                <td colspan="2"><input id="note" type="text" placeholder="Enter note" /></td>
            </tr>
            <tr>
                <td colspan="3"><button id="addTaskButton">Add task</button></td>
            </tr>
            <tr>
                <td colspan="3"><button id="addTaskTemplateButton">Add task template</button></td>
            </tr>
        </table>
    </form>
</div>

<div class="workday">
    <br />
    <h2>Workday</h2>
    <textarea disabled rows="10" cols="88.5">

    </textarea>
</div>

<!-- <div class="taskSuggestionsAndTemplates">
    <h2><i class="fa fa-table" aria-hidden="true"></i>&nbsp;Task Suggestions And Templates</h2>
</div> -->

<!-- <div class="activities">
    <h2><i class="fa fa-table" aria-hidden="true"></i>&nbsp;Activities</h2>
    <table class="table3">
        <thead>
            <tr>
                <th>Project</th>
                <th>Task</th>
                <th>Duration</th>
                <th>Reported Duration</th>
                <th>Overtime Duration</th>
                <th>Weekend Duration</th>
                <th>Not reported Duration</th>
                <th>Date</th>
                <th>Edit</th>
            </tr>
        </thead>
    </table>
</div> -->